@import url('https://fonts.googleapis.com/css?family=Roboto:800&display=swap');


.hotsite--container{
  margin: 0 auto;
  margin-top: 136px;
  max-width: 1920px;
  width: 100%;
  height: 1926px; 
  overflow: hidden;
}

.hotsite--background{
  width: 100%;
  height: 1926px;
  background-image: url('/images-hot-3/desk--background.png');
  background-repeat: no-repeat;
  background-size: contain;
  /* background: no-repeat center/100% url( "/images-hot-3/desk--background.png"); */
}

/* style universal */

.padding-v{
  padding: 2.5vw 0;
}

/* title */

.hotsite--title{
  position: relative;
  text-align: left;
  width: 22vw;
  margin: 0 auto;
  padding: 0;
  transform: translateX(1vw) translateY(4.3vw);
  /* border: 1px solid red; */
}

.hotsite--title .ornament{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffa33e;
  border-radius: 100%;
  box-shadow: 0px 2px 9px #ffa33e;
}

.hotsite--title .ornament:nth-of-type(1){
  top: 1.3vw;
  right: 2.4vw;
}

.hotsite--title .ornament:nth-of-type(2){
  top: 4.6vw;
  left: -1.5vw;
}

.hotsite--title h1{
  position: relative;
  font-family: Roboto;
  font-weight: 800;
  font-size: 3.6vw;
  color: #ffa33e;
  text-transform: uppercase;
  padding:  0;
  line-height: 3.5vw;
  text-shadow: 0px 2px 9px #ffa33e;
}

/*
text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #ffa33e,
    0 0 80px #ffa33e,
    0 0 90px #ffa33e,
    0 0 100px #ffa33e,
    0 0 150px #ffa33e;
*/

/* frete */

.hotsite--frete{
  margin-top: 500px;
}



/* media queries */


@media (max-width: 600px) 
{
  .desk 
  {
  display: none;
  }

  .mobile
  {
  display: block;
  }
}
