@import url('https://fonts.googleapis.com/css?family=Roboto:800&display=swap');


.hotsite--container{
  margin: 0 auto;
  margin-top: 136px;
  max-width: 1920px;
  width: 100%;
  height: auto; 
  overflow: hidden;
}

.hotsite--content-wrapper{
  max-width: 1024px;
  margin: 0 auto;
}

.hotsite--background{
  min-height: 1926px;
  background-image: url('/images-hot-3/desk--background.png');
  background-repeat: no-repeat;
  background-position-x: center;
  margin: 0 auto;
}

.hotsite--frete,
.hotsite--prazo{
  margin: 0 auto;
  max-width: 764px;
  height: 259px;
  border: 2px solid #c3dbea;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 90px;
  padding: 40px 63px;
  box-sizing: border-box;
}

.hotsite--boletos-1,
.hotsite--boletos-2,
.hotsite--credit-card
{
  height: 377px;
  border: 2px solid #c3dbea;
  border-radius: 0.7vw;
  background-color: #fff;
  padding: 2vw 1vw;
  box-sizing: border-box;
}

.hotsite--frete__content,
.hotsite--prazo__content,
.hotsite--pagamento__content
{
  padding-top: 0.1vw;
}

.hotsite--prazo__content p,
.hotsite--pagamento__content p,
.hotsite--frete__content p{
  font-family: Roboto;
  font-size: 15px;
  color: #184567;
  text-align: left;
  margin-bottom: 40px;
  line-height: 20px;
  max-width: 352px;
}

.hotsite--hero__title h1
{
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  color: #184567;
  text-transform: uppercase;
  text-align: left;
  line-height: 32px;
  max-width: 245px;
}

.hotsite--hero__icon{
  transform: translateX(-8px) translateY(53px);
  padding: 0px 40px 0 25px;
  background-color: #fff;
  max-width: 175px;
}

.hotsite--hero__icon img{
  width: 110%;
}

/* style universal */

.padding-v{
  padding: 2.5vw 0;
}

/* title */

.hotsite--title{
  position: relative;
  text-align: left;
  width: 413px;
  margin: 0 auto;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 60px;
}

.hotsite--title .ornament{
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ffa33e;
  border-radius: 100%;
  box-shadow: 2px 2px 15px #ffa33e;
}

.hotsite--title .ornament:nth-of-type(1){
  top: 25px;
  right: 42px;
}

.hotsite--title .ornament:nth-of-type(2){
  top: 90px;
  left: -21px;
}

.hotsite--title h1{
  position: relative;
  font-family: Roboto;
  font-weight: 800;
  font-size: 70px;
  color: #ffa33e;
  text-transform: uppercase;
  padding:  0;
  line-height: 65px;
  text-shadow: 2px 2px 6px #ffa33e;
}

/* frete */

.hotsite--frete__wrapper,
.hotsite--prazo__wrapper
{
  display: grid;
  grid-template-columns: 45% 55%;
}

/* cta */

.hotsite--cta{
  padding: 50px 0 70px 0;
}

.hotsite--cta button{
  position: relative;
  background-color: #184567;
  color: #fff;
  padding: 11px 0 15px 0;
  border-radius: 11px;
  border: none;
  width: 230px;
  font-size: 15px;
  transition: 0.5s ease-in-out;
}

.hotsite--cta button:hover{
  cursor: pointer;
  background-color: #0a2132;
  transform: scale(0.9);
}

.arrow-icon-btn{
  position: absolute;
  right: 0.9vw;
  transform: translateY(-50%);
  top: 50%;
  /* filter: grayscale(0%); */
  width: 0.5vw;
}

/* pagamento */

.hotsite--pagamento{
  margin-bottom: 50px;
}

.hotsite--pagamento__hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 105px auto;
}

.hotsite--pagamento__hero-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 45px;
}

.hotsite--pagamento__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 50px;
  width: 1145px;
  margin: 0 auto;
}

.hotsite--pagamento__hero-title h1
{
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  color: #184567;
  text-transform: uppercase;
  text-align: left;
  line-height: 25px;
  max-width: 180px;
  transform: translateY(8px);
}

.hotsite--pagamento__hero-icon img {
  width: 100px;
}

.hotsite--pagamento__content p{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hotsite--boletos-1 p{
  max-width: 482px;
}

.hotsite--boletos-2 p{
  max-width: 417px;
}

.hotsite--credit-card{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.hotsite--pagamento__content .group-one{
  max-width: 390px;
  transform: translatex(109px);
}

.hotsite--pagamento__content .group-one p{
  max-width: 390px;
}

.hotsite--pagamento__content .group-two{
  max-width: 395px;
  transform: translatex(46px);
}

.hotsite--pagamento__content .group-two p{
  max-width: 395px;
}

.hotsite--pagamento__hero-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.hotsite--pagamento__hero-card-icon{
  position: relative;
  text-align: right;
}

.hotsite--credit-card .hotsite--pagamento__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* media queries */


@media only screen and (max-width: 767px)
{
  .hotsite--container{
    max-width: 100vw;
    border: 3px solid red;
    overflow: hidden;
  }

  .hotsite--content-wrapper{
    max-width: 100vw;
  } 

  .hotsite--frete,
  .hotsite--prazo{
    max-width: 100vw;
    height: auto;
    border: 0.261vw solid #c3dbea;
    border-radius: 1.304vw;
    background-color: #fff;
    margin-bottom: 11.734vw;
    padding: 5.215vw 8.214vw;
    box-sizing: border-box;
  }

}

@media only screen and (min-width: 768px)
{
   
}
