@import url('https://fonts.googleapis.com/css?family=Roboto:800&display=swap');


.hotsite--container{
  margin: 0 auto;
  margin-top: 136px;
  max-width: 1920px;
  width: 100%;
  height: auto; 
  overflow: hidden;
}

.hotsite--content-wrapper{
  max-width: 1024px;
  margin: 0 auto;
}

.hotsite--background{
  min-height: 1926px;
  background-image: url('/images-hot-3/desk--background.png');
  background-repeat: no-repeat;
  background-position-x: center;
  margin: 0 auto;
}

.hotsite--frete,
.hotsite--prazo{
  margin: 0 auto;
  max-width: 764px;
  height: 259px;
  border: 2px solid #c3dbea;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 90px;
  padding: 40px 63px;
  box-sizing: border-box;
}

.hotsite--hero__title h1
{
  font-family: Roboto;
  font-size: 1.5vw;
  font-weight: bold;
  color: #184567;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.8vw;
  padding-right: 3vw;
}

.hotsite--frete__content,
.hotsite--prazo__content,
.hotsite--pagamento__content
{
  padding-top: 0.1vw;
}

.hotsite--prazo__content p,
.hotsite--pagamento__content p,
.hotsite--frete__content p{
  font-family: Roboto;
  font-size: 0.90vw;
  color: #184567;
  text-align: left;
  padding-left: 1vw;
  margin-bottom: 1vw;
  line-height: 1.5vw;
}

.hotsite--hero__icon{
  transform: translateX(0vw) translateY(4vw);
  padding: 0 1vw;
  background-color: #fff;
  max-width: 12vw;
}

.hotsite--hero__icon img{
  width: 90%;
}

.hotsite--pagamento__hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7vw auto;
}

/* style universal */

.padding-v{
  padding: 2.5vw 0;
}

/* title */

.hotsite--title{
  position: relative;
  text-align: left;
  width: 413px;
  margin: 0 auto;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 60px;
}

.hotsite--title .ornament{
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ffa33e;
  border-radius: 100%;
  box-shadow: 2px 2px 15px #ffa33e;
}

.hotsite--title .ornament:nth-of-type(1){
  top: 25px;
  right: 42px;
}

.hotsite--title .ornament:nth-of-type(2){
  top: 90px;
  left: -21px;
}

.hotsite--title h1{
  position: relative;
  font-family: Roboto;
  font-weight: 800;
  font-size: 70px;
  color: #ffa33e;
  text-transform: uppercase;
  padding:  0;
  line-height: 65px;
  text-shadow: 2px 2px 6px #ffa33e;
}

/* frete */

.hotsite--frete__wrapper,
.hotsite--prazo__wrapper
{
  display: grid;
  grid-template-columns: 45% 55%;
}

/* cta */

.hotsite--cta{
  padding: 0vw 0 3vw 0;
}

.hotsite--cta button{
  position: relative;
  background-color: #184567;
  color: #fff;
  padding: 0.7vw 1vw 0.9vw 0.1vw;
  border-radius: 11px;
  border: none;
  width: 15vw;
  font-size: 1vw;
}

.arrow-icon-btn{
  position: absolute;
  right: 0.9vw;
  transform: translateY(-50%);
  top: 50%;
  /* filter: grayscale(0%); */
  width: 0.5vw;
}

/* pagamento */

.hotsite--pagamento__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2vw;
  width: 59vw;
  margin: 0 auto;
  /* box-sizing: border-box; */
}

.hotsite--credit-card{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.hotsite--boletos-1,
.hotsite--boletos-2,
.hotsite--credit-card
{
  height: 21vw;
  border: 2px solid #c3dbea;
  border-radius: 0.7vw;
  background-color: #fff;
  padding: 2vw 1vw;
  box-sizing: border-box;
}

.hotsite--pagamento__hero-title h1
{
  font-family: Roboto;
  font-size: 1.5vw;
  font-weight: bold;
  color: #184567;
  text-transform: uppercase;
  text-align: left;
}

.hotsite--pagamento__hero-icon img {
  width: 44%;
}

.hotsite--pagamento__content p{
  padding-left: 0vw;
  text-align: center;
}



/* media queries */


@media (max-width: 600px) 
{
  .desk 
  {
  display: none;
  }

  .mobile
  {
  display: block;
  }
}
